openapi: 3.0.3
info:
  contact:
    email: hello@opal.dev
    name: Opal Team
    url: https://www.opal.dev/
  description: Tailscale API spec
  title: Tailscale API
  version: "1.0"
servers:
- description: Production
  url: https://api.tailscale.com/api/v2
paths:
  /tailnet/{tailnet_name}/acl:
    get:
      description: "Retrieves the ACL that is currently set for the given tailnet.\
        \ Supply the tailnet of interest in the path. This endpoint can send back\
        \ either the HuJSON of the ACL or a parsed JSON, depending on the Accept header."
      parameters:
      - description: The name of the Tailnet
        explode: false
        in: path
        name: tailnet_name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TailnetACL'
          description: The tailnet ACL response
    post:
      description: Sets the ACL for the given domain. HuJSON and JSON are both accepted
        inputs. An If-Match header can be set to avoid missed updates.
      parameters:
      - description: The name of the Tailnet
        explode: false
        in: path
        name: tailnet_name
        required: true
        schema:
          type: string
        style: simple
      - description: Set this value to the ETag header provided in an ACL GET request
          to avoid missed updates.
        explode: false
        in: header
        name: If-Match
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TailnetACL'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TailnetACL'
          description: the updated tailnet ACL response
components:
  schemas:
    TailnetACL:
      example:
        tests:
        - deny:
          - deny
          - deny
          src: src
          accept:
          - accept
          - accept
        - deny:
          - deny
          - deny
          src: src
          accept:
          - accept
          - accept
        acls:
        - dst:
          - dst
          - dst
          src:
          - src
          - src
          action: action
        - dst:
          - dst
          - dst
          src:
          - src
          - src
          action: action
        hosts: "{}"
        ssh:
        - dst:
          - dst
          - dst
          src:
          - src
          - src
          action: action
          users:
          - users
          - users
        - dst:
          - dst
          - dst
          src:
          - src
          - src
          action: action
          users:
          - users
          - users
        groups: "{}"
        tagOwners: "{}"
      properties:
        tagOwners:
          type: object
        ssh:
          items:
            $ref: '#/components/schemas/SSHRule'
          type: array
        acls:
          items:
            $ref: '#/components/schemas/ACLRule'
          type: array
        tests:
          items:
            $ref: '#/components/schemas/Test'
          type: array
        groups:
          type: object
        hosts:
          type: object
    Test:
      example:
        deny:
        - deny
        - deny
        src: src
        accept:
        - accept
        - accept
      properties:
        src:
          type: string
        accept:
          items:
            type: string
          type: array
        deny:
          items:
            type: string
          type: array
    SSHRule:
      example:
        dst:
        - dst
        - dst
        src:
        - src
        - src
        action: action
        users:
        - users
        - users
      properties:
        action:
          type: string
        src:
          items:
            type: string
          type: array
        dst:
          items:
            type: string
          type: array
        users:
          items:
            type: string
          type: array
      required:
      - action
      - dst
      - src
      - users
    ACLRule:
      example:
        dst:
        - dst
        - dst
        src:
        - src
        - src
        action: action
      properties:
        action:
          type: string
        src:
          items:
            type: string
          type: array
        dst:
          items:
            type: string
          type: array
      required:
      - action
      - dst
      - src
